:root {
    --primary-light: #b0c4b1;
    --primary-dark: #143109;
    --secondary-light: #dae0e7;
    --secondary-dark: #7b2d26;
}

html {
    background-color: var(--secondary-light);
    font-family: "DM Sans";
    color: var(--primary-dark);
}

h1 {
    margin: 1ex;
    margin-left: 1em;
    font-size: 48px;
    color: var(--secondary-dark);
}

section {
    width: 100%;

    font-size: 24px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

section.remedies div.headings {
    padding-top: 0px;
    padding-bottom: 0px;
}

section.remedies div.headings p{
    width: 25%;

    display: flex;
    align-self: flex-end;
    margin: .2ex;
}

section.remedies div {
    width: 94%;
    background-color: var(--secondary-light);
    border-bottom: 2px solid var(--primary-dark);
    margin: 0ex;
    padding: 30px;

    display: flex;
    align-items: center;
}

section.remedies div a {
    color: var(--primary-dark);
    width: 50%;
    text-justify: center;
}

section.remedies p {
    width: 150%;
}